<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue_Start</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <!-- vue part -->
    <div id="app">
      나이 : <input type="number" v-model="age" />
      <p>
        요금 : <span v-if="age <= 10">1000원</span>
        <span v-else-if="age <= 19">2000원</span>
        <span v-else="age">3000원</span>
      </p>
    </div>

    <script>
      //vue instance
      const app = new Vue({
        el: "#app",
        data() {
          return {
            age: 10,
          };
        },
      });
    </script>
  </body>
</html>
